<div class="message-container <%= message.sender_id == current_user_id ? 'sender' : 'receiver' %>" id="message_<%= message.id %>">
  <div class="message <%= message.sender_id == current_user_id ? 'sent' : 'received' %>">
    <p><%= message.content %></p>
    <small class="message-timestamp" data-timestamp="<%= message.created_at.utc.iso8601 %>">
      <%= message.created_at.strftime('%m/%d/%Y, %I:%M %p') %>
    </small>
  </div>
</div>
