<h1>New Product</h1>
 
<%= bootstrap_form_with model: @product, url: products_path, method: :post, data: { turbo: false } do |f| %>
 <%= f.text_field :name %>
 <%= f.text_field :amount %>
 <%= f.text_field :marketer %>
 <%= f.date_field :expiration %>
 <%= f.text_field :hold %>
 <%= f.submit %>
<% end %>

<p>
  <%= link_to "Back", products_path, class: 'btn btn-primary' %>
</p>
