<h1>Product Details</h1>

<p>
  <strong>Name:</strong> <%= @product.name %><br>
  <strong>Description:</strong> <%= @product.amount %><br>
  <strong>Price:</strong> <%= @product.hold %><br>
</p>

<h2>Seller Information</h2>
<p>
  <strong>Seller Name:</strong> <%= @product.user.full_name %><br>
  <strong>Seller Email:</strong> <%= @product.user.email %><br>
</p>

<p>
  <%= link_to "Back", products_path, class: 'btn btn-primary' %>
  <%= link_to "Message", user_messages_path(user_id: @product.user.id), class: "btn btn-primary" %>


</p>
