<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product Details</title>
</head>
<body>
  <h1>Product Details</h1>

<p>
  <strong>Name:</strong> <%= @product.food_type %><br>
  <strong>Description:</strong> <%= @product.description %><br>
  <strong>Price:</strong> <%= @product.hold %><br>
  <strong>Location:</strong> <span id="distance-info">Distance</span><br>
</p>

  <h2>Seller Information</h2>
  <p>
    <strong>Seller Name:</strong> <%= @product.user.full_name %><br>
    <strong>Seller Email:</strong> <%= @product.user.email %><br>
  </p>

  <p>
    <%= link_to "Back", products_path, class: 'btn btn-primary' %>
    <%= link_to "Message", user_messages_path(user_id: @product.user.id), class: "btn btn-primary" %>
    <button id="get-directions-btn" class="btn btn-primary">Get Directions</button>
    <a id="open-google-maps-btn" href="#" target="_blank" class="btn btn-secondary" style="display: none;">Open in Google Maps</a>
  </p>





   
  
</body>
</html>
