<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Produce Bridge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

  <!-- Add Google Fonts Link -->
  <link rel="preload" href="/fonts/Inspiration-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
</head>

<body class="<%= 'login-page' if controller_name == 'sessions' && action_name == 'new' %>
             <%= 'signup-page' if controller_name == 'registrations' && action_name == 'new' %>">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <!-- Left-aligned Navigation Links -->
    <ul class="navbar-nav me-auto left-nav">
      <li class="nav-item">
        <%= link_to 'Market Hub', products_path, class: "nav-link" %>
      </li>
      <li class="divider">
        <img src="<%= asset_path('greenplant.jpg') %>" alt="Plant Divider" class="link-divider">
      </li>
      <li class="nav-item">
        <%= link_to 'About Us', about_path, class: "nav-link" %>
      </li>
    </ul>

    <!-- Centered Produce Bridge Text -->
    <div class="navbar-center">
      <%= link_to root_path, class: "navbar-title-link" do %>
        <img src="<%= asset_path('vine.jpg') %>" alt="Vines Left" class="navbar-vine left">
        <h1 class="produce-bridge-title">Produce Bridge</h1>
        <img src="<%= asset_path('vine.jpg') %>" alt="Vines Right" class="navbar-vine">
      <% end %>
    </div>

    <!-- Right-aligned Navigation Links -->
    <ul class="navbar-nav ms-auto right-nav">
      <li class="nav-item">
        <%= link_to "How it Works", how_it_works_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <li class="divider">
          <img src="<%= asset_path('greenplant.jpg') %>" alt="Plant Divider" class="link-divider">
        </li>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="divider">
          <img src="<%= asset_path('greenplant.jpg') %>" alt="Plant Divider" class="link-divider">
        </li>
        <li class="nav-item">
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-link nav-button" %>
        </li>
      <% else %>
        <li class="divider">
          <img src="<%= asset_path('greenplant.jpg') %>" alt="Plant Divider" class="link-divider">
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: "btn nav-button" %>
        </li>
      <% end %>
    </ul>
  </nav>


  <!-- Flash messages -->
  <div class="flash-container text-center" data-turbo="false">
  <% flash.each do |key, message| %>
    <div class="alert <%= flash_class(key) %> alert-dismissible fade show mx-auto" role="alert" style="max-width: 400px;">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>


  <!-- Main content -->
  <main role="main" class="container">
    <%= yield %> 
  </main>
</body>
</html>
