<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Waste to Worth Farms</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>

  <!-- Conditionally load the login stylesheet -->
<% if (controller_name == 'sessions' && action_name == 'new') || (controller_name == 'registrations' && action_name == 'new') %>
  <%= stylesheet_link_tag 'login', media: 'all' %>
<% end %>


</head>
<body class="<%= 'login-page' if controller_name == 'sessions' && action_name == 'new' %>
              <%= 'signup-page' if controller_name == 'registrations' && action_name == 'new' %>">

  

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-navy">
    <div class="container-fluid d-flex justify-content-between align-items-center">
  
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag 'logo.jpg', alt: "Waste to Worth Farms Logo" %>
      <% end %>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to 'Home', home_path, class: "nav-link #{active_class(home_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Market Hub', products_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'About Us', about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Our Services", services_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Get Involved", contact_path, class: "nav-link" %>
          </li>
        </ul>
  
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Hi, #{current_user.full_name}", edit_user_registration_path, class: "nav-link #{active_class(edit_user_registration_path)}" %>
            </li>
            <li class="nav-item">
              <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Flash messages -->
  <% flash.each do |key, message| %>
    <div class="alert <%= flash_class(key) %> alert-dismissible fade show text-center" role="alert">
      <%= message %>
      <button type="button" class="btn btn-close" data-bs-dismiss="alert"></button>
    </div>
  <% end %>

  <!-- Main content -->
  <main role="main" class="container">
    <%= yield %> 
  </main>

</body>
</html>
